<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cory Ganase</a>
    </div>

    <!-- Home button -->
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html" target="_blank">Home</a></li>

      <!-- New Releases Button -->
      <li><a href="newReleases.html" target="_blank">New Releases</a></li>

      <!-- Deals of the week Button -->
      <li><a href="takeAnOrder.html">Deals of the Week</a></li>
          </ul>


          </ul>
        </div>
  </div>
</nav>
